<!DOCTYPE html>
<html>
    <header><title>Choose your camera then choose your adjustment value:</title></header>
    <body>
        <form method="POST">
            <label for="user_val">Enter custom adjustment amount:</label>
            <input type="number", name = "user_val">
            <input type="submit", value="submit">
            <br>
            Or use the buttons to adjust:
            <br>
            <button type="submit", name="big_decrease", value="pressed">&lt;&lt;</button>
            <button type="submit", name="decrease", value="pressed">&lt;</button>
            <button type="submit", name="increase", value="pressed">></button>
            <button type="submit", name="big_increase", value="pressed">>></button> 
        </form>


    </body>
</html>