<!DOCTYPE html>
<html>
    <header><title>Choose your camera then choose your adjustment value:</title></header>
    <body>
        <form method="POST">
            <label for="user_val">Enter custom adjustment amount:</label>
            <input type="text", name = "user_val">
            <input type="submit", value="submit">
            <br>
            Or use the buttons to adjust:
            <br>
            <button type="submit", name="big_decrease", value="pressed">&lt;&lt;</button>
            <button type="submit", name="decrease", value="pressed">&lt;</button>
            <button type="submit", name="increase", value="pressed">></button>
            <button type="submit", name="big_increase", value="pressed">>></button> 
            <br>
            <br>
            <br>
            <label for="stepSize">Enter the step size you would like to use for this rotation</label>
            <select id="stepSize" name="stepSize">
                <option value="a1" {% if default_step == 'a1' %}selected{% endif %}>1:1</option>
                <option value="a2" {% if default_step == 'a2' %}selected{% endif %}>1:2</option>
                <option value="a4" {% if default_step == 'a4' %}selected{% endif %}>1:4</option>
                <option value="a8" {% if default_step == 'a8' %}selected{% endif %}>1:8</option>
                <option value="a16" {% if default_step == 'a16' %}selected{% endif %}>1:16</option>
                <option value="a32" {% if default_step == 'a32' %}selected{% endif %}>1:32</option>
            </select>
            <a href="{{ url_for('menu') }}">Go to menu Page</a>
            <br>
            <label for="returnField">Aruino Response &#40 Don't Enter Text &#41 </label>
            <input type="text" id="returnField" name="Return Field" value="{{ returnText|safe }}">        
        </form>




    </body>
</html>